[submodule "src/3rdparty/platform"]
	path = src/platform
	url = https://github.com/TalonBraveInfo/platform.git
[submodule "src/3rdparty/fox-1.6.57_cmake"]
	path = src/3rdparty/fox-1.6.57_cmake
	url = https://github.com/OldTimes-Software/fox-1.6.57_cmake.git
