[submodule "src/3rdparty/platform"]
	path = src/kernel
	url = ../../OldTimes-Software/hei.git
[submodule "release/projects/base"]
	path = release/projects/base
	url = ../../OldTimes-Software/ape-base.git
[submodule "src/3rdparty/fox"]
	path = src/3rdparty/fox
	url = ../../OldTimes-Software/fox-1.6.57_cmake.git
[submodule "src/acm"]
	path = src/acm
	url = ../acm.git
